@import "widgets";

* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica";
}

ul {
  list-style: none;
}

$width: 1000px;
$padding: 8px;
$bright-text: #ccc;
$dark-text: #333;
$inovex-blue: #052B69;

a {
  color: $bright-text;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  
  &:hover {
   color: $inovex-blue;
  }
}

#top-navigation {
  width: $width;
  padding-top: $padding / 2;
  margin: 0px auto;
  text-align: right;
  
  ul {
    display: inline;
    
    li {
      display: inline;
      padding-left: $padding;
      padding-right: $padding / 2;
      border-left: 1px dotted #ddd;
      
      a {
        text-transform: uppercase;
      }
      
      &.first {
        border: none;
      }
    }
  }
}