@import "base";

#panel {
  clear: both;
  width: $width;
  margin: 130px auto;
  $slice-width: $width / 4 - $padding * 2;
  
  .slice {
    $height: 300px;
    padding-left: $padding * 2;
    width: $slice-width;
    min-height: $height;
    float: left;
    background: url("/images/split.jpg") 0px ($height - 200px)/ 2 no-repeat;
    
    h2 {
      color: #666;
      margin: $padding * 7 $padding $padding * 3 $padding ;
    }
    
    p {
      margin: $padding;
      color: $dark-text;
      letter-spacing: -1px;
    }
    
    ul {
      margin: $padding;
      li {
        float: left;
        
        a {
          color: $dark-text;
          padding-right: $padding / 2;
        }
      }
    }
  }
  
  .logo {
    background: none;
    
    h1 {
      text-align: center;
      color: $inovex-blue;
      background: url(/images/inovex_logo_square.png) no-repeat;
      
      // logo
      $size: $slice-width * 0.33;
      width: $size;
      height: $size;
      margin-top: $padding * 10;
      margin-left: ($slice-width - $size) / 2;
      
      span {
        @include readable-hide;
      }
    }
    
    p {
      text-align: center;
    }
  }
}
