@import "base";

body {
  @include vertical-background-gradient(desaturate(lighten($inovex-blue,70%), 50%),
                                        desaturate(lighten($inovex-blue, 75%), 50%));
}

.boundary {
  width: $width;
  margin: 0px auto;
  p {
    line-height: 1.4em;
    margin: $padding;
  }
  h2 {
    margin: $padding;
    color: $dark-text;
  }
  .boxed {
    margin: $padding;
    li {
      margin: 1.5% 1.5%;
      width: 29%;
      @include vertical-background-gradient(#fff, #eee);
      border: 2px solid desaturate(lighten($inovex-blue, 60%), 50%);
      @include border-radius(10px, 10px, 10px, 10px);
      float: left;
      h3 {
        color: desaturate(lighten($inovex-blue, 40%), 50%);
        font-size: 40px;
        text-align: center;
        height: 200px;
        line-height: 200px;
        vertical-align: center;
      }
      &:hover {
        border-color: $inovex-orange;
        cursor: pointer;
        h3 {
          color: $inovex-orange;
        }
      }
    }
  }
}

$main-navigation-top: 100px - 22px; // - top navigation
$main-navigation-height: $padding * 2 + 14px + 1px;
$sub-navigation-height: 48px;
$header-height: $main-navigation-top + $main-navigation-height + 
                $sub-navigation-height + 22px;

#header {
  position: fixed;
  // go to off to render shadow correctly
  width: 102%;
  margin-left: -1%;
  height: $header-height;
  @include vertical-background-gradient(darken($inovex-blue, 5%), 
                                        lighten($inovex-blue, 5%));
  @include box-shadow(0 0 20px #ccc);
  border-bottom: 2px solid desaturate(lighten($inovex-blue, 50%), 50%);

  #logo {
    position: absolute;
    display: block;
    background: white url($inovex-logo) center no-repeat;
    height: 90px;
    width: 90px;
    margin-top: $padding * 2.5;
    @include border-radius(10px, 10px, 10px, 10px);
    
    span {
      @include readable-hide;
    }
  }

  #top-navigation {
    ul li {
      border-color: desaturate(lighten($inovex-blue, 10%), 50%);
      a {
        // blue won't work so use underline and bright color
        // [TODO] jebi@vila how do you like this -> ... ?
        color: desaturate(lighten($inovex-blue, 20%), 50%);
        &:hover {
          color: $inovex-orange;
        }
      }
    }
  }

  #main-navigation {
    @include horizontal-navigation;
    z-index: 200;
    position: absolute;
    margin-top: $main-navigation-top;
    height: $main-navigation-height;
    display: block;
    width: $width;
    
    li {
      float: right;
      a {
        color: desaturate(lighten($inovex-blue, 50%), 50%);
        font-size: 12px;
        font-weight: bold;
        padding: $padding $padding*1.5;
        &:hover {
          color: white;
        }
      }
      &.active a {
        color: $dark-text;
        @include vertical-background-gradient(#ececec, #ddd);
        @include border-radius(5px, 5px, 0, 0);
        border: 1px solid white;
        border-bottom: none;
        text-shadow: #fff 1px 1px;
      }
    }
  }

  #sub-navigation {
    position: absolute;
    width: 100%;
    z-index: 100;
    height: $sub-navigation-height;
    margin-top: $main-navigation-top + $main-navigation-height - 1px;
    @include horizontal-navigation;
    @include vertical-background-gradient(#ddd, #fcfcfc);
    //@include box-shadow(0 -3px 3px white);
    border-top: 1px solid white;
    ul {
      padding: $padding*1.5 0;
      li {
        a {
          font-size: 14px;
          padding: $padding/2 $padding;
          color: $dark-text;
          text-shadow: #fff 1px 1px;
          &:hover {
            color: #000;
          }
        }
        &.active a {
          text-shadow: lighten($inovex-blue, 10%) -1px -1px;
          color: desaturate(lighten($inovex-blue, 80%), 50%);
          @include border-radius(5px, 5px, 5px, 5px);
          @include vertical-background-gradient(desaturate(lighten($inovex-blue, 30%), 40%), desaturate(lighten($inovex-blue, 15%), 40%));
        }
      }
    }
  }
}

#pages {
  padding-top: $header-height + $padding * 2;
  .page {
    margin: 0px 0px 500px 0px;
  }
}
