* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica"; }

ul {
  list-style: none; }

a {
  color: #cccccc;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold; }
  a:hover {
    color: #333333; }

#top-navigation {
  width: 1000px;
  padding-top: 4px;
  margin: 0px auto;
  text-align: right; }
  #top-navigation ul {
    display: inline; }
    #top-navigation ul li {
      display: inline;
      padding-left: 8px;
      padding-right: 4px;
      border-left: 1px dotted #ddd; }
      #top-navigation ul li.first {
        border: none; }
