<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    {% include header-meta.html %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/lob.css" />
    <script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/jquery-scrollto.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/pages.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>